html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.movies {
  /* margin:80px 0 ;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:50px;
  max-width: 1200px; */
  margin-top: 100px;
  display: inline-grid;
  padding:0 20px;
  max-width: 1200px;
  /* gap: 20px; */
  /* grid-template-columns: repeat(2,0.5fr); */
}

.popularDiv {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 0;
  box-sizing: border-box;
}

.popularMovies {
  margin:0px 20px ;
  z-index: 1;

  /* display: grid; */
  /* display: flex;
  flex-direction: row; */
  /* max-width: 100%; */
  /* grid-template-columns: repeat(10, 1fr); */
  /* gap:10px; */
  /* max-width: 1400px; */
}

.popular {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0;
}

.link {
  text-decoration: none;
  color: gray;
}

.link:hover {
  text-decoration: underline;
  color: gray;
}

.hr {
  border-bottom: 2px solid;
  max-width: calc(100%-20%);
  /* margin:0 auto; */
}

@media (max-width:768px) {
  .movies{
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    padding: 15px 10px;
  }
}

@media (max-width:425px){
  .movies {
    grid-template-columns: repeat(1,1fr);
    margin: auto;
    padding: 20px 0 0 20px;
  }
}