/* .popular {
    display: inline-grid;
    /* grid-template-columns:repeat(3,1fr);
    max-width: 1200px; */

/* }  */

.popularDiv {
    /* display: -ms-inline-grid; */
    /* margin: 80px 20px; */
    position: relative;
    max-width: 250px;
}

.popularDiv img {
    width: 250px;
}

.btn {
    position: absolute;
    top: 150px;
    left: 50px;
}

    

