.NavbarDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(51, 51, 149);
  color: #fff;
  z-index: 5;
  height: 70px;
}

.NavbarDiv div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  padding-right: 30px;
}

.NavbarDiv div:nth-child(3) .link {
    color: #fff;
    text-decoration: none;
}

.NavbarDiv h2 {
  padding-left: 20px;
  text-align: center;
}

/* .NavbarDiv div:nth-child(2) {
  display: flex;
  gap: 20px;
}

.NavbarDiv div:nth-child(2) input {
  padding: 5px 10px;
  font-size: 1.2rem;
}

.NavbarDiv div:nth-child(2) input:focus {
  outline: none;
}

.NavbarDiv div:nth-child(2) button {
  padding: 5px 20px;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  border-radius: 3px;
  background-color: rgb(47, 109, 109);
  border: none;
  color: rgb(255, 255, 255);
} */
