.searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px auto 0;
    gap: 20px;
    flex-wrap: wrap;
    /* z-index: 1; */
    /* width: 1000px; */
}

.searchDiv input {
    padding: 5px 10px;
    font-size: 1.2rem;
    width: calc(100%-40%);
}

.searchDiv input:focus {
    outline: none;
}

.searchDiv button {
    padding: 10px 40px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    border-radius: 3px;
    background-color: rgb(51, 51, 149);
    border: none;
    color: rgb(255, 255, 255);
  }